EVENT_TYPE
0     7003     running task
VALUES
0     task_end
1     MAIN_TAREADOR
2     start_plan_forward
3     init_complex_grid
4     init_complex_grid_loop_k
5     ffts1_planes
6     ffts1_planes_loop_k
7     transpose_xy_planes
8     transpose_xy_planes_loop_k
9     ffts1_planes_2
10     transpose_zx_planes
11     transpose_zx_planes_loop_k
12     ffts1_planes_3
13     transpose_zx_planes_2
14     transpose_xy_planes_2
