EVENT_TYPE
0     7003     running task
VALUES
0     task_end
1     MAIN_TAREADOR
2     multisort_0
3     multisort_1
4     multisort_2
5     multisort_3
6     merge_0
7     merge_3
8     merge_4
9     merge_1
10     merge_2
